@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800');

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#preloader {
    width: 100%;
    position: fixed;
    height: 100vh;
    background: #fff  url('../img/prelaoder3.gif') no-repeat center;
    z-index: 9999;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}


p{
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 400;
    color: #4b4a4a;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url('../img/img4.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%, 100% 78%, 50% 100%, 0 78%, 0 0);
    position: relative;
}

.header::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    opacity: 20%;
    z-index: -1;
}

.navbar-toggler-icon{
    height: 35px!important;
    width: 35px!important;
}

.navbar::before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
    opacity: 20%;
    z-index: -1;
}

.nav-item a {
    color: #000!important;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    position: relative;
}

.nav-item a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 3px solid #000;
    transition: all 0.4s linear;
}

.nav-item a:hover::before {
    width: 100%;
}

.nav-item a:hover {
    color: #fff!important;
    font-weight: 400!important;
}

.navheader{
    color: #000!important;
    font-weight: 700;
    font-size: 4rem;
    font-family: 'Gochi hand',sans-serif;    
}

.header-section {
    width: 100%;
    height: inherit;
    color: #fff;
    text-align: center;
    position: relative;
}

.center-div {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}


.header-buttons .btn{
    position: relative;
    padding: 10px 30px;
    border-radius: 100px;
    border: 2px solid #000;
    margin: 0 10px 10px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    overflow: hidden;
}

.header-buttons .btn:hover{
    color: #000;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.4);
}

.header-buttons .btn span{
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: #fff;
    transition: width 0.5s, height 0.5s;
    z-index: -1;
}

.header-buttons .btn:hover span{
    width: 300px;
    height: 300px;
}

.center-div p {
    font-size: 2rem;
    padding: 0 0 20px 0;
    color: #000;
}

.wrapper .dyanmic_text{
    color: #000;
    font-size: 5rem;
    font-weight:300;
    margin-left: 2rem;
}

 .fa {
    padding: 10px;
    font-size: 1.8rem;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }


  .fa:hover {
    opacity: 0.6;  
    text-decoration: none;
  }
  
  .socialicons {
      margin-top: 2rem;
  }

  .links{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .links a{
    position:relative;
    display:flex;
    width:40px;
    height:40px;
    margin:0.5rem;
    background:#000;
    text-align:center;
    line-height:40px;
    font-size:1.7rem;
    border-radius:50%;
    color:#fff;
    overflow:hidden;
    text-decoration: none;
    align-items: center;
    border: 1px solid #000;
  }

  .links a:hover{
    color: #fff;
    text-decoration: none;
  }

  .links a:nth-child(1){
    background:#3B5998; 
  }
  .links a:nth-child(2){
    background:#d63d97;
  }
  .links a:nth-child(3) {
    background:#000;
  }
  .links a:nth-child(4) {
    background:#55ACEE;
  }
  .links a:nth-child(5) {
    background:#007bb5;
  }

  
  .links a::before{
    content:"";
    position:absolute;
    top:-70%;
    left:-180%;
    width:50px;
    height:170px;
    background:linear-gradient(90deg,transparent,rgba(255,255,255,.5));
    transform:skewX(-20deg);
  }
  
  .links a:hover:before{
    animation:shine 1s linear forwards;
    
  }
  @keyframes shine{
    0%{
      transform:translateX(0)skewX(-20deg);
    }
    100%{
      transform:translateX(160px)skewX(-20deg);
    }
  }

  .heading {
      margin-top: 2rem;
  }

  .startingfontheading {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 4rem;
  }

  .aboutsec {
    width: 100%;
    /* height: 185vh; */
    padding: 10px 0;
    position: relative;
}

  .imgdiv img{
      width: 42%;
      border-radius: 11rem;
      margin-bottom: 2rem;
  }

  .below-img-buttons {
      margin-top: 1.5rem;
  }


  .below-img-buttons .btn{
    position: relative;
    padding: 10px 30px;
    border: 2px solid #55ACEE;
    margin: 0 10px 10px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: #55ACEE;
    transition: 0.5s;
    overflow: hidden;
}

.below-img-buttons .btn:hover{
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.below-img-buttons .btn span{
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: #55ACEE;
    transition: width 0.5s, height 0.5s;
    z-index: -1;
}

.below-img-buttons .btn:hover span{
    width: 300px;
    height: 300px;
}


.main_right {
    margin-top: 4rem;
    padding: 1rem;
}


.main_right .main_rr {
    margin-left: 0.5rem;
    padding-left: 1.5rem;
}

.main_right .main_rl {
    margin-left: -15px;
}

.main_right .info-item p{
font-weight:600;
padding:10px 0;
font-size:2rem;
color:#302e4d;
margin:0;
border-bottom:1px solid #aaaaaa;
}

.main_right .info-item p span{
font-weight:100;
color:#55ACEE;
margin-left:4px;
display:inline-block;
font-weight: 400;
}

.fa-university, .fa-sticky-note , .fa-line-chart, .fa-bar-chart, .fa-black-tie , .fa-briefcase{
    font-size: 3rem;
    margin-right: 1rem;
    border: none;
    text-decoration: none;   
}

.about_left {
    margin-top: 4rem;
}

.about_right {
    margin-top: 4rem;
}

.education {
    border-left: 5px solid #79787e;
    padding: 0 1.5rem;
    margin-top: 4rem;
}

.education .timelineproject {
    transition: all 0.55s;
}

.education .timelineproject .fa-calendar {
    margin-top: -1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.education .timelineproject .Sctitle{
    margin-bottom: 1rem;
    transition: all 0.55s;
    font-size: 2.5rem;
    color: #55ACEE;
    font-weight: 600;
}

.education .timelineproject .yearofcal {
    font-size: 2rem;
}

.education .timelineproject .timeline-title {
    color: #000;
    font-size: 2rem;
}

.education .timelineproject .timeline-text {
    margin-bottom: 3rem;
    text-align: justify;
}

.timeline-text a{
    overflow-wrap: break-word;
}

 .education .circle-dot{
	position:absolute;
	height:25px;
	width:25px;
	left: 0.5rem;
	border-radius:50%;
	background: #3e3d42;
}

.timelineproject:hover .Sctitle {
	font-size: 3.2rem;
}
.timelineproject:hover .circle-dot {
	background: #56cefa;
	border: 4px solid #3e3d42;
}

.timelinescollectionproject {
    border-left: 5px solid #79787e;
    padding: 0 1.5rem;
    margin-top: 4rem;
}

.timelinescollectionproject .timelineproject {
    transition: all 0.55s;
}

.timelinescollectionproject .timelineproject .fa-calendar {
    margin-top: -1rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.timelinescollectionproject .timelineproject .interntitle {
    margin-bottom: 1rem;
    transition: all 0.55s;
    font-size: 2.5rem;
    color: #55ACEE;
    font-weight: 600;
}

.timelinescollectionproject .timelineproject .yearofcal {
    font-size: 2rem;
}

.timelinescollectionproject .timelineproject .timeline-title {
    color: #000;
    font-size: 2rem;
}


.timelinescollectionproject .timelineproject .timeline-text {
    margin-bottom: 3rem;
    text-align: justify;
}

.timelinescollectionproject .timelineproject .experdata{
    font-size: 1.5rem;
    margin-left: 1rem;
}

 .timelinescollectionproject .circle-dot{
	position:absolute;
	height:25px;
	width:25px;
    left: 0.5rem;
	border-radius:50%;
    background: #3e3d42;
}

.timelineproject:hover .interntitle {
	font-size: 3.2rem;
}

.skillsec {
    width: 100%;
    /* height: 100vh; */
    padding: 10px 0;
    position: relative;
}

.skill_left, .skill_right {
    margin-top: 2rem;
}

.skill_left .codingskill {
    border-right: 3px solid #d4d4e3;
    margin-top: 1rem;
}

.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
  }
  
  .skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 16px 0;
  }
  
  .skill-bar{
    height: 13px;
    background: #cacaca;
    border-radius: 8px;
  }
  
  .skill-per{
    height: 13px;
    background-color: #55ACEE;
    border-radius: 8px;
    width: 0;
    transition: 1.5s linear;
    position: relative;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }

.skill_right .extraskils {
    border: medium none;
    padding-left: 20px;
    border-radius: 3px;
    text-align: center;
    background-color: #fdf9ff;
    margin-top: 4rem;
}


.fa-calculator, .fa-font{
    margin-top: 1rem;
    margin-left: -15px;
    font-size: 5rem;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #55ACEE;
}

.fa-calendar, .fa-check-square-o, .fa-battery-full {
    margin-top: 0.5rem;
    font-size: 2rem;
    border: none;
    text-decoration: none;
}

.service {
    position: relative;
    width: 100%;
}

.service .service-item {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    transition: color 0.4s linear;
}

.service .service-icon {
    position: relative;
    width: 120px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #47a4eb;
    background: #ffffff;
}

.service .service-icon i {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: #47a4eb;
    transition: .3s;
}

.service .service-item:hover i {
    font-size: 75px;
}

.service .service-text {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 120px);
    height: 100%;
    padding: 0 30px;
    z-index: 1;
}

.service .service-text::before{
    content: "";
    position: absolute;
    left: 0;
    /* top: -18px; */
    width: 100%;
    height: 100%;
    background: #47a4eb;
    transition: 0.5s;
    z-index: -1;
    transform-origin: 0.0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
}
.service .service-text:hover::before{
    transform: scaleX(1);
}

.service .service-text h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 1s;
}

.service .service-text p {
    margin: 0;
    font-size: 14px;
    transition: 0.5s;
}

.service .service-item:hover .service-text h3,
.service .service-item:hover .service-text p {
    color: #fff;
}

@media (max-width: 575.98px) {
    .service .service-text h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .service .service-text p {
        font-size: 14px;
    }
}


.projectsec {
    width: 100%;
    /* height: 100vh; */
    padding: 20px 0;
    position: relative;
}

.projectdiv{
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: center;
    margin-top: 6rem;
}

.projectdiv .card{
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    overflow: hidden;
    margin-bottom: 3rem;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.projectdiv .card .card-title2{
    margin-top: 0.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: #424141;
}

.projectdiv .card .card-text{
    text-align: justify;
    margin-top: 2rem;
}

.socket{
    color: #000;
    font-weight: 600;
}

figure.snip1104 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 380px;
  max-width: 380px;
  max-height: 320px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
    width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1104.blue {
  background: #123851;
}

figure.snip1104.blue h2 {
  background: #0a212f;
}

figure.snip1104.red {
  background: #581a14;
}

figure.snip1104.red h2 {
  background: #36100c;
}

figure.snip1104.yellow {
  background: #7f5006;
}

figure.snip1104.yellow h2 {
  background: #583804;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

.contactsec {
    width: 100%;
    /* height: 73vh; */
    padding: 60px 0;
    position: relative;
}

.formcontact {
    height: 310px;
    width: 400px;
    margin-top: 0.7rem;
}


input::placeholder {
    font-size: 1.5rem;
}

input{
    padding: 1.5rem 0 1.3rem 0.7rem!important;
}

textarea::placeholder{
    font-size: 1.5rem;
}


.form-button .btn{
    position: relative;
    padding: 10px 30px;
    border: 2px solid #000;
    margin: 20px 10px 10px 10px;
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
    overflow: hidden;
}

.form-button .btn:hover{
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.form-button .btn span{
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    background: #47a4eb;
    transition: width 0.5s, height 0.5s;
    z-index: -1;
}

.form-button .btn:hover span{
    width: 300px;
    height: 300px;
}


.form-control:hover {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

.contactuspage {
    margin-top: 2rem;
}

.footer-section{
    background:#000;
    position:relative;
  }
  .footer-cta{
    border-bottom:1px solid #373636;
  }

  .single-cta{
      display: flex;
  }

  .single-cta i{
    color:#47a4eb;
    font-size:30px;
    float:left;
  }
  .cta-text{
    padding-left:15px;
    display:inline-block;
  }
  .cta-text h4{
    color:#fff;
    font-size:20px;
    font-weight: 600;
    margin-bottom:2px;
  }
  .cta-text span{
    color:#757575;
    font-size: 15px;
  }

  .cta-text span a{
    color:#757575;
    text-decoration: none;
  }

  .footer-content{
    position:relative;
    z-index: 2;
  }
  .footer-logo{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom:30px;
  }
  .footer-logo img{
    
    margin-top: 2rem;
    max-width: 200px;
  }

  .footer-text{
    font-size: 14px;
    color:#7e7e7e;
    line-height: 20px;
  }

  .footer-text p{
    margin-bottom:14px;
    font-size: 14px;
    color:#7e7e7e;
    line-height: 28px;
  }

  .footer-social-icon .links{
      justify-content: flex-start;
  }

  .footer-social-icon .links a:nth-child(3) {
    box-shadow: 0 0 5px 0 rgba(255,255,255,0.7);
  }

  .footer-social-icon .links a{
      border: none;
  }

  .footer-social-icon span{
    color:#fff;
    display:block;
    font-size: 20px;
    font-weight: 700;
  }
  
  .footer-widget-heading h3{
    color:#fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom:40px;
    position:relative;
  }
  .footer-widget-heading h3::before{
    content:'';
    position:absolute;
    left:0;
    bottom:-15px;
    height:2px;
    width:50px;
    background:#47a4eb;
  }
  .footer-widget ul li{
    display:inline-block;
    width:50%;
    margin-bottom:12px;
  }
  .footer-widget ul li a:hover{
    color:#47a4eb;
  }
  .footer-widget ul li a{
    color:#878787;
    text-transform: capitalize;
  }
  .subscribe-form{
    position:relative;
    overflow:hidden;
  }
  .subscribe-form input{
    width:100%;
    padding:14px 28px;
    background:#2e2e2e;
    border:1px solid #2e2e2e;
    color:#fff;
  }
  .subscribe-form button{
    position:absolute;
    right:0;
    background:#47a4eb;
    padding:13px 20px;
    border:1px solid #47a4eb;
    top:0;
  } 
  .subscribe-form button i{
    color:#fff;
    font-size: 22px;
    transform:rotate(-6deg);
  }
  .copyright-area{
    background:#202020;
    padding:25px 0;
  }
  .copyright-text p{
    margin:0;
    font-size: 14px;
    color:#878787;
  }
  .copyright-text p a{
    color:#47a4eb;
  }
  .footer-menu li{
    display:inline-block;
    margin-left:20px;
  }
  .footer-menu li:hover a{
    color:#47a4eb;
  }
  .footer-menu li a{
    font-size: 14px;
    color:#878787;
  }

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border: none;
    color: #fff;
    background: #000;
    border-radius: 10px;
}

#myBtn:hover {
    background: #3a3939;
    color: #fff;
}

.style-switcher{
	position:fixed;
	top:18rem;
	right:0;
	z-index:10;
	background-color:#ffffff;
	padding:15px;
	border:2px solid #e8dfec;
	border-right:none;
	border-radius:0 0 0 5px;
	transform:translateX(100%);
    transition:all 0.3s ease;
}

.style-switcher.open{
    -webkit-transform:translateX(0%);
    transform:translateX(0%);

}

.style-switcher h5{
	font-size:1.5rem;
	color:#302e4d;
	margin-top:0;
	margin-bottom:8px;
	padding-bottom:5px;
	border-bottom:1px solid #e8dfec;
}

.style-switcher ul{
	margin:0;
	padding:0;
	display:block;
	margin-bottom:5px;
	list-style:none;

}
.style-switcher ul li{
	display:inline-block;

}
.style-switcher ul li a{
	height:30px;
	width:30px;
	display:block;
	border-radius:50%;
	cursor:pointer;
	text-decoration:none;
	margin-right:2px;
}

.style-switcher .toggle-style-switcher{
	position:absolute;
	height:45px;
	width:45px;
	background-color:#ffffff;
	left:-46px;
	top:-1px;
	border:2px solid #e8dfec;
	border-right:none;
	text-align:center;
	cursor:pointer;
	border-radius:5px 0 0 5px;
}

.style-switcher .toggle-style-switcher .fa{
	font-size:2rem;
	line-height:43px;
    border: none;
    margin-top: -1rem;
}


/*  Media Query  */

@media(max-width: 768px) {

    html , body {
        width: 100%;
        overflow-x: hidden;
    }
    
    .header {
        background-image: linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)), url('../img/img5.jpg');
    }

    .nav-item {
        text-align: center!important;
    }

    .nav-item a:hover::before {
        width: 0%;
    }    

    .wrapper .dyanmic_text{
        font-size: 4.5rem;
    }
    
    .main_left .imgdiv {
        display: grid;
        place-items: center;
    }
    .main_right .main_rl {
        margin-left: 1.2rem;
    }

    .aboutsec {
        height: auto;
    }

    .main_right .main_rr {
        margin-left: 1.3rem;
    }

    .main_right .main_rl #emailfont p span{
        font-size:2rem;
        
    }

    .skillsec {
        height: auto;
    }

    .projectsec {
        height: auto;
    }

    .skill_left .codingskill {
        border-right: none;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .skill_right .extraskils{
        margin-top: 4rem;
    }

    .projectdiv .card{
        width: 80%;
        margin-bottom: 3rem;
    }

    figure.snip1104 img{
        width: 80%;
    }

    .contactsec {
        height: auto;
        margin-bottom: 5rem;
    }

    .Wrapper div li {
        height: 10.2rem;
    }

    .timelinescollectionproject .circle-dot, .education .circle-dot{
        margin-left: 0.5rem;
    } 

    .timelinescollectionproject, .education {
        border-right: none;
        margin-left: 0.5rem;
    }

    .accimgleft .portfolio-item, .accimgright .portfolio-item{
	
        max-width:100%;
        margin-top: 6rem;
        margin-left: 2.5rem;
    }

    .nav-item a:hover {
        color: #fff!important;
        border-bottom: none;
    }
 
    .service .service-text h3 {
        font-size: 1.5rem;
    }
    
    .service .service-text p {
        font-size: 1rem;
    }

    .footer-logo img{
        max-width: 150px;
      }

}


@media (min-width: 768px) and (max-width: 1024px)  {

    .main_right{
        padding-left: 7rem!important;
    }

    .main_right .info-item p{
        font-size:1.4rem;
        }

    .main_right .main_rl #emailfont p span{
        font-size:1.4rem!important;
        overflow-wrap: break-word!important;
    }

    .skill_left .codingskill {
        border-right: 3px solid #d4d4e3;
    }
    
    .projectdiv .card{
        width: 40%!important;
        margin-bottom: 1rem;
    }

    .service .service-text h3 {
        font-size: 17px;
    }
    
    .service .service-text p {
        font-size: 12px;
    }

}

@media (min-width: 1024px) and (max-width: 1366px)  {

    html , body {
        width: 100%;
        overflow-x: hidden;
        font-size: 55%;
    }

    .nav-item a:hover::before {
        width: 0%;
    }    

    .aboutsec {
        height: auto;
    }

    .main_right .main_rl #emailfont p span{
        font-size:1.5rem;
    }

    .skillsec {
        height: auto;
    }

    .projectsec {
        height: auto;
    }

    .projectdiv .card{
        width: 30%;
        margin-bottom: 1rem;
    }

    figure.snip1104 img{
        width: 80%;
    }

    .bar {
        margin-top: 5rem;
    }

    .contactsec {
        height: auto;
        margin-bottom: 5rem;
    }
    .Wrapper div li {
        height: 10.2rem;
    }
    
    .nav-item a:hover {
        color: #fff!important;
        border-bottom: none;
    }

    .main_right .info-item p{
        font-size:2rem;
        }

    .main_right .main_rl #emailfont p span{
        font-size:1.8rem!important;
    }
    
    .projectdiv .card{
        width: 30%!important;
        margin-bottom: 1rem;
    }

    .service .service-text h3 {
        font-size: 2.2rem;
    }
    
    .service .service-text p {
        font-size: 1.7rem;
    }
}

@media (max-width:1030px){
    .mb-30{
      margin-bottom:30px;
    }
    .footer-text p,
    .footer-social-icon{
      margin-bottom:30px;
    }
  }




